<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script>
      function goRegPage() {
        location.href='/user/register'
      }
    </script>
</head>
<body>
<div th:replace="common/navbar :: navbar"></div>

<div class="container mt-3">
  <h2>로그인</h2>
  <form action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="userId">아이디</label>
      <input type="text" class="form-control" id="userId" placeholder="아이디를 입력해주세요." name="userId">
    </div>
    <div class="mb-3">
      <label for="pwd">비밀번호</label>
      <input type="password" class="form-control" id="pwd" placeholder="비밀번호를 입력해주세요." name="pwd">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
    <button type="button" class="btn btn-warning" id="reg_btn" onclick="goRegPage()">회원가입</button>
  </form>
</div>
</body>
</html>